<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary" ><strong>Project Plan: Sign Language Translator</strong></h1>
        <li>Purpose: Given an input in English, software returns pictures showing how to spell the input in Sign Language</li>
        <li>Brainstorm: make a python dictionary with all 26 letters, to call an index for each letter</li>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
